* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.card-wrap {
  display: flex;
  gap: 2rem;
  max-width: 100rem;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 4rem;
}





